@charset "utf-8";

@font-face {
    font-family: 'NotoSansKRblack';
    src: url(../font/NotoSansKR-Black.eot);
    src: local('※'), url(../font/NotoSansKR-Black.eot?#iefix) format('embedded-opentype'),
    url(../font/NotoSansKR-Black.woff) format('woff'),
    url(../font/NotoSansKR-Black.woff2) format('woff');
}

@font-face {
    font-family: 'NotoSansKRbold';
    src: url(../font/NotoSansKR-Bold.eot);
    src: local('※'), url(../font/NotoSansKR-Bold.eot?#iefix) format('embedded-opentype'),
    url(../font/NotoSansKR-Bold.woff) format('woff'),
    url(../font/NotoSansKR-Bold.woff2) format('woff');
}

@font-face {
    font-family: 'NotoSansKRlight';
    src: url(../font/NotoSansKR-Light.eot);
    src: local('※'), url(../font/NotoSansKR-Light.eot?#iefix) format('embedded-opentype'),
    url(../font/NotoSansKR-Light.woff) format('woff'),
    url(../font/NotoSansKR-Light.woff2) format('woff');
}

@font-face {
    font-family: 'NotoSansKR';
    src: url(../font/NotoSansKR-Medium.eot);
    src: local('※'), url(../font/NotoSansKR-Medium.eot?#iefix) format('embedded-opentype'),
    url(../font/NotoSansKR-Medium.woff) format('woff'),
    url(../font/NotoSansKR-Medium.woff2) format('woff');
}




body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select, pre {
       box-sizing: border-box; -webkit-text-size-adjust:none; font-size:26px; letter-spacing: -0.02em; font-weight:400; color:#444; font-family:'NotoSansKR','noto sans',arial, sans-serif, Arial,dotum,'돋움'; outline: none;
}
/*-webkit-text-size-adjust: none(글자크기 자동조정 방지) , auto (화면의 폭에 맞추어서 텍스트의 크기를 자동으로 조절 , 100%(폰트크기를 지정된사이즈로 변경);*/
html, body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, table , tr , td , dl, dt, dd, a ,img,input,button, select,textarea, div {     box-sizing: border-box; margin: 0px; padding: 0px; list-style:none; }
address, cite, dfn, em, var { font-style: 400; }
code, kbd, samp { font-family:dotum,'돋움', courier new, courier, monospace; }
header, hgroup, article, nav, footer, figure, figcaption, canvas, section , menu { display: block; margin:0; padding:0; }

body { }
img,fieldset,iframe{border:0 none}
img { border: 0px; vertical-align:top; }
table{/* border-collapse:collapse;table-layout:fixed; */border-collapse:collapse;border-spacing:0}

/*
clear
 */
.clearfix:after { display: block; visibility: hidden; clear:both; height:0; content:'\020'; }
.clearfix { zoom: 1; }

.clear, .clearfix { clear: both; height:0; }

.clearafter { *zoom:1;}
.clearafter:after { content: ''; clear: both; display: block; height: 0px; line-height: 0px; }

.blind, legend { visibility: hidden; overflow: hidden; position: absolute; top: 0; left: 0; width: 0; height: 0; font-size: 0; line-height: 0; }

/*  NanumGothic, '나눔고딕', MalgunGothic, '맑은 고딕',  */
body,input,textarea,select,table,button{}

form { margin: 0px; padding: 0px; }
fieldset { padding: 0; border: none; }
caption { display: none; }
label {  }
input, button { vertical-align: middle; border:none; background: none; }
input { margin:0; padding:0; }
button { cursor:pointer; }

input[type="checkbox"],input[type="radio"] { padding:0; vertical-align:middle; margin-top:-3px; *margin-top:-2px; }


input[type="text"] ,input[type="password"] , input[type="file"] , input[type="tel"] , input[type="email"] { padding:0; }
input[type="button"] ,input[type="submit"] { cursor:pointer; }


.vtop { vertical-align: top; }
.vcenter { vertical-align: middle; }
.center { text-align:center !important; }
.left { text-align:left !important; }
.right { text-align:right !important; }
.bold { font-weight:bold; }
.mauto { margin:0 auto; }
.inline-block { display:inline-block; }

a:link { text-decoration: none; color:#454545; }
a:visited { text-decoration: none; color:#000; }
a:hover { text-decoration: none; color:#000; }
a:active { text-decoration: none; color:#000; }
a, button {-webkit-tap-highlight-color:transparent;}

@media (max-width:360px){html{font-size:14px;}}
@media (min-width:361px) and (max-width:399px){html{font-size:15px;}}
@media (min-width:400px) and (max-width:439px){html{font-size:16px;}}
@media (min-width:440px) and (max-width:479px){html{font-size:17px;}}
@media (min-width:480px) and (max-width:519px){html{font-size:18px;}}
@media (min-width:520px) and (max-width:559px){html{font-size:19px;}}
@media (min-width:560px) and (max-width:599px){html{font-size:19px;}}
@media (min-width:600px) and (max-width:639px){html{font-size:19px;}}
@media (min-width:640px) and (max-width:679px){html{font-size:19px;}}
@media (min-width:680px) and (max-width:719px){html{font-size:19px;}}
@media (min-width:720px) and (max-width:759px){html{font-size:19px;}}
@media (min-width:760px) and (max-width:799px){html{font-size:19px;}}
@media (min-width:800px) and (max-width:839px){html{font-size:19px;}}
@media (min-width:840px) and (max-width:879px){html{font-size:19px;}}
@media (min-width:880px){html{font-size:19px;}}

html,
body {
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

#wrap { width:720px; position:relative; max-width:720px; margin:0 auto; }
#topArea { width:100%; box-sizing: border-box; position:relative; text-align:center;}
#topArea .ico_menu { position:absolute; left:0; top:0; display:inline-block; }
#topArea .ico_my { position:absolute; right:0; top:0; display:inline-block; }
#topArea .logo { display:inline-block; margin:0 auto; text-align:center; }
#gnbArea { width:100%; box-sizing: border-box; position:relative; }
.gnbs { overflow:hidden; margin-bottom:1px;	 }
.gnbs li { float:left; width:239px; margin-left:1px; }
.gnbs li:first-child { margin-left:0; width:240px; }
.gnbs li a { background:#7cb732; color:#fff; font-size:36px; display:block; text-align:center; padding:18px 0 19px; }
.gnbs li a.active { background:#333; }

.sub_tabs { overflow:hidden; margin-bottom:1px;	 }
.sub_tabs li { float:left; width:360px; margin-left:1px; }
.sub_tabs li:first-child { margin-left:0; width:359px; }
.sub_tabs li a { background:#888; color:#fff; font-size:30px; display:block; text-align:center; padding:10px 0 11px; line-height:1.2em; }
.sub_tabs li a.active { background:#7cb732; }
#topMenu { width:100%; box-sizing: border-box; position:relative;}
#contentArea { width:100%; box-sizing: border-box; overflow:hidden; position:relative; }
#bottomArea { width:100%;box-sizing: border-box; position:relative; }
#processArea { background:#f5f5f5; }
#noticeWrap {  }
#customerCenterWrap {  }
#footerWrap { background:#eee; padding-bottom:100px; }
.fullPoptopArea { width:100%; box-sizing: border-box; position:relative; text-align:center;}
.inner_box { padding:0 30px; position:relative; }

.area_tit { font-size:34px; padding:22px 0; }
.shadow_box { background:#fff;
-webkit-box-shadow: 1px 1px 10px 0px rgba(156,156,156,0.79);
-moz-box-shadow: 1px 1px 10px 0px rgba(156,156,156,0.79);
box-shadow: 1px 1px 10px 0px rgba(156,156,156,0.79); }
.shadow_box_sub { border-radius:10px; overflow:hidden; }

.detail_process { padding:22px 30px 30px; position:relative; }
.detail_process .t1 { font-size:40px; color:#222; line-height:1.3em;
overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; /* 라인수 */ -webkit-box-orient: vertical; word-wrap:break-word;
}
.detail_process .t1 a {  color:#222;  }
.price { text-align:center; padding:20px 0 30px; }
.price .p_p { font-size:32px; display:inline-block; padding:0 18px; color:#999; position:relative; }
.price .p_p span { background:url(../img/ico_price_arr.png) no-repeat right top; display:inline-block; position:absolute; right:0; top:10px; width:100%; }
.price .p { font-size:40px; font-family::'NotoSansKR'; color:#555;  }
.price .p span { font-size:60px; font-family:'NotoSansKRbold'; color:#ff4343; }
.detail_process_top { padding:0; }
.detail_process .class { line-height:1.2em; background:#1e6918; display:inline-block; position:absolute; left:0; top:0; padding:12px 30px 14px; font-family:'NotoSansKRbold'; font-size:26px; color:#fff; }
.detail_process .class.tit { position:inherit; box-sizing:border-box; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; word-wrap:break-word; width:100%;}

.bar { float:left; width:70%; display:inline-block; background:#ddd; height:10px; margin-top:20px; margin-left:20px; position:relative; overflow:hidden; }
.bar .active { background:#333; position:absolute; left:0; top:0; }
.bar_txt { float:left; width:20%; display:inline-block; font-size:24px; margin-left:40px; margin-top:5px; text-align:right; }

.btns { font-size:24px; position:absolute; right:30px; bottom:30px; padding:10px 20px; line-height:1.2em; width:150px; }

.h_notice_list { border-top:1px solid #444; padding-bottom:30px; background:url(../img/dotted_bg.gif) repeat-x center bottom; }
.h_notice_list li { border-bottom:1px solid #ddd; }
.h_notice_list li a { font-size:30px; color:#444; padding:16px 0 18px; display:block; }
.h_notice_more { position:absolute; right:30px; top:30px; }

.btn1 { margin:0 5px; display:inline-block; width:45%; background:#fff; color:#7cb732 !important; border:1px solid #7cb732; font-size:40px; padding:9px 0 11px; text-align:center; }
.btn1 img { margin:13px 5px 0 0; }
.btn2 { margin:0 5px; display:inline-block; width:45%; color:#fff !important; background:#7cb732; font-size:40px; padding:10px 0 12px; text-align:center;}
.btn3 { margin:0 5px; display:inline-block; width:45%; color:#fff !important; background:#7cb732; font-size:32px; padding:10px 0 12px; text-align:center;}
.btn4 { margin:0 5px; display:inline-block; width:45%; color:#7cb732 !important; border:1px solid #7cb732; background:none; font-size:32px; padding:10px 0 12px; text-align:center;}

a.card_btn { line-height:1.2em; margin:0 5px; display:inline-block; width:45%; background:#f5f5f5; color:#888; border:1px solid #ccc; border-radius:10px; font-size:30px; padding:20px 0 22px; text-align:center; }
a.card_btn.active { color:#1e6918; background:#fff; border:2px solid #7cb732; }



.gray_txt { font-size:28px; color:#787878; }
.f_txt { font-size:22px; color:#787878; }

.f_btn { line-height:1.2em; display:inline-block; padding:15px 16px 17px; min-width:189px; font-size:26px; color:#666; border:2px solid #dedede; background:#fff;}
.f_btn_black { line-height:1.2em; color:#fff; background:#333; border:1px solid #333; }
.download { line-height:1.2em; display:block; border-radius:50px; color:#888; font-size:32px; text-align:center; padding:15px 0 17px; width:300px; margin:0 auto 30px; border:2px solid #ccc; }

#back-top { position:fixed; right:30px; bottom:30px; display:none; z-index:100; }
#back-top img { }

.members_wrap { background:#f5f5f5; padding:30px; overflow:hidden; 
box-shadow: inset 0 7px 14px -7px rgba(0,0,0,0.2);}
.members_wrap a.btn1 { box-sizing: border-box; float:left; margin:0 5% 0 0; display:block; width:47.5%; background:#fff; color:#7cb732; border:1px solid #7cb732; font-size:32px; padding:10px 0 12px; text-align:center; }
.members_wrap a.btn2 { box-sizing: border-box; float:left; margin:0; display:block; width:47.5%; color:#fff; background:#7cb732; font-size:32px; padding:10px 0 12px; text-align:center;}


/* sub */
.sub_top_wrap { height:440px; position:relative; }
.top_select_box { position:absolute; left:0; top:30px; width:100%; z-index:10; }
.top_select { position:relative; width:100%; box-sizing:border-box; padding:0 30px; }
.top_select a.jQSelect { display:block; font-size:32px; color:#333; padding:11px 30px 13px; border:2px solid #7db837; position:relative; background:#fff; }
.top_select .arr { background:url(../img/ico_select_arr.png) no-repeat left top; background-size:100%; width:30px; height:18px; display:block; position:absolute; right:30px; top:50%; transform:translate(0,-50%) rotate(0deg);}
.top_select .arr.active { background:url(../img/ico_select_arr.png) no-repeat left top; background-size:100%; width:30px; height:18px; display:block;  transform: translate(0,-50%) rotate(180deg);}

.top_select_list { border:2px solid #7cb732; position:relative; top:-2px; display:none; max-height:400px; overflow-y:auto;}
.top_select_list li a { display:block; background:#fff; padding:15px 30px 17px; color:#444; font-size:32px; }
.top_select_list li a:hover { background:#d7e9c1; color:#1e6918; }
.top_select_list li.class a { color:#999; }
.top_select_list li.class a:hover { background:#fff; color:#999; }
.top_select_list .dot { display:block; height:4px; margin:0 30px; background:url(../img/dotted_bg_gray.gif) repeat-x center bottom; }


.top_search_box { position:absolute; left:0; top:120px; width:100%; }
.top_search { position:relative; width:100%; box-sizing:border-box; padding:0 30px; }
.top_search .search_wrap { width:100%; display:block;  border:2px solid #7db837; position:relative; background:#fff; box-sizing:border-box; }
.top_search input.search { width:90%; display:block; font-size:32px; color:#333; padding:11px 30px 13px; box-sizing:border-box; }
.top_search input.search::placeholder { color:#999; }
.top_search button { position:absolute; right:0; top:0;}

.top_tit { width:100%; box-sizing:border-box; border-top:2px solid #ddd; 
border-bottom:2px solid #ddd; font-size:36px; color:#333; padding:15px 50px 17px; text-align:center; background:#fff; position:relative; }
a.back_prev { display:inline-block; position:absolute; left:0; top:0; background:url(../img/ico_back_arr.png) no-repeat 30px 29px; font-size:26px; color:#787878; padding:24px 60px; }

.sub_top_wrap .top_tit { position:absolute; left:0; top:0;  }

.sub_top_tit { font-size:60px; color:#fff; font-family:'NotoSansKRbold'; text-align:center; position:absolute; left:0; top:58%; width:100%; transform: translate(0,-50%);
text-shadow: 0px 0px 10px #666; line-height:1.2em; }
.sub_top_tit_search { font-size:60px; color:#fff; font-family:'NotoSansKRbold'; text-align:center; position:absolute; left:0; top:270px; width:100%;
text-shadow: 0px 0px 10px #666; line-height:1.2em; }

.tabs_padding { height:95px; }
.tabs_menu_wrap { position:relative; z-index:200; }
.tabs_menu { overflow:hidden;  background:#fff;}
.tabs_menu li { float:left; width:181px; border:2px solid #ccc; margin-left:-2px; box-sizing: border-box; position:relative; z-index:1;}
.tabs_menu li:first-child { margin-left:0; width:183px}
.tabs_menu li a {  display:block; text-align:center; padding:16px 0 18px; color:#999; font-size:32px; line-height:1.2em; }
.tabs_menu li.active { border:2px solid #7cb732; position:relative; z-index:2; }
.tabs_menu li.active a { color:#61961d; }

.tabs_center_tit { text-align:center; padding:50px 0 20px; font-size:30px; }
.tabs_center_tit span { color:#555; font-size:30px; border-bottom:2px solid #555; }

.tab_box_1 { background:#333; }
.tab_box_1 .lists { padding:45px 30px 25px; }
.tab_box_1 .lists dt { color:#999; font-size:28px; line-height:1.2em;}
.tab_box_1 .lists dd { color:#fff; font-size:36px; text-align:center; font-family:'NotoSansKRlight'; padding-bottom:25px; line-height:1.2em; }

.tab_box_2_wrap { background:#f5f5f5; padding-bottom:50px; }
.tab_box_2 { padding:0 60px; }
.tab_box_2 .t { font-size:40px; color:#444; }
.tab_box_2 .st { font-size:28px; color:#666; }

.tab_box_3 { width:100%; }
.tab_box_3 th { border:2px solid #7cb732; background:#deefc9; font-size:28px; color:#1e6918; padding:17px 30px 19px; line-height:1.2em; }
.tab_box_3 td { border:2px solid #7cb732; font-size:28px; color:#666; padding:17px 30px 19px; text-align:center; line-height:1.2em;  }
.tab_box_3 td.th { background:#deefc9; color:#1e6918; }

.tab_box_4 { overflow:hidden; }
.tab_box_4 li { overflow:hidden; width:100%; display:table; padding:14px 10px 16px; background:#fff; border-bottom:2px solid #d0d0d0; box-sizing: border-box; }
.tab_box_4 li p { display:table-cell; vertical-align:middle; text-align:center; line-height:1.2em; }
.tab_box_4 li.top { border-top:2px solid #828282; border-bottom:2px solid #828282; background:#eee;  }
.tab_box_4 li.top p { font-size:28px; color:#787878;  }
.tab_box_4 li .t1 { width:10%; font-size:22px; color:#999; }
.tab_box_4 li .t2 { width:100%; font-size:22px; color:#666; 
overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; /* 라인수 */ -webkit-box-orient: vertical; word-wrap:break-word;}


.board_list { overflow:hidden; }
.board_list li { overflow:hidden; width:100%; display:table; padding:18px 0 20px; background:#fff; border-bottom:2px solid #d0d0d0; box-sizing: border-box; }
.board_list li p { display:table-cell; vertical-align:middle; text-align:center; line-height:1.2em; }
/* .board_list li.top { border-top:2px solid #828282; border-bottom:2px solid #828282; background:#eee;  } */
/* .board_list li.top p { font-size:28px; color:#787878;  } */
.board_list li .t1 { width:15%; font-size:24px; color:#444; vertical-align:top; text-align:left; padding:0 10px; }
.board_list li .t2 { width:85%; font-size:28px; color:#444; vertical-align:top; text-align:left; padding:0 10px; }
.board_list li .t2 span { display:inline-block; }
.board_list li .t2 .t { display:block; }
.board_list li .t2 .d, .board_list li .t2 .n { font-size:20px; color:#555; margin-right:20px; }

.board_view { overflow:hidden; }
.board_view li { font-size:28px; color:#444; vertical-align:top; text-align:left; padding:18px 30px 20px; }
.board_view li span { display:inline-block; }
.board_view li .t { display:block; }
.board_view li .d, .board_list li .n { font-size:20px; color:#555; margin-right:20px; }

.board_view_detail { border-top:2px solid #ddd; margin:0 30px; padding:30px 0; }

.list_btn_wrap { text-align:right; border-top:2px solid #ddd; padding:50px 30px; }

.paging { margin:20px 0 50px; text-align:center; }
.paging a { margin:0 3px; display:inline-block; border:2px solid #888; color:#888; width:32px; text-align:center; padding:3px 0; line-height:1.2em; font-size:22px; }
.paging a.prev, .paging a.next, .paging a.num.active { border:2px solid #7cb732; color:#7cb732; }
.paging a.prev { background:url(../img/paging_arr.png) no-repeat center 6px; margin-right:10px; }
.paging a.next { background:url(../img/paging_arr.png) no-repeat center 6px; margin-left:10px; transform:rotate(180deg); }


.board_search_wrap { text-align:center; margin-bottom:50px; }
.board_search_wrap .s { display:inline-block; font-size:26px; color:#787878; padding:6px 10px 0 0; vertical-align:top; }
.board_select { display:inline-block; position:relative; box-sizing:border-box; vertical-align: top; }
.board_select a.jQBoard { display:block; font-size:26px; color:#444; padding:3px 50px 6px 17px; border:2px solid #ccc; position:relative; background:#fff; }
.board_select .arr { background:url(../img/ico_select_arr_gray.png) no-repeat left top; background-size:100%; width:20px; height:11px; display:block; position:absolute; right:20px; top:50%; transform:translate(0,-50%) rotate(0deg);}
.board_select .arr.active { background:url(../img/ico_select_arr_gray.png) no-repeat left top; background-size:100%; width:20px; height:11px; display:block;  transform: translate(0,-50%) rotate(180deg);}
.board_search_wrap .sinput { width:200px; }

.board_select_list { border:2px solid #666;  display:none;
position: absolute;
    left: 0;
    top: 53px;
    width: 100%; z-index:10;
    box-sizing: border-box;}
.board_select_list li a { display:block; background:#fff; padding:10px 25px 10px; color:#666; font-size:26px; }
.board_select_list li a:hover { background:#eee; }
.board_select_list li.class a { color:#666; }
.board_select_list li.class a:hover { background:#eee; }
.board_select_list .dot { display:block; height:4px; margin:0 30px; background:url(../img/dotted_bg_gray.gif) repeat-x center bottom; }

.sinput { border:2px solid #ccc; font-size:26px; height:51px; line-height:51px; }

.card_list {  }
.card_list li { position:relative; border:2px solid #7cb732; padding:40px 30px 42px 200px; color:#1e6918; font-size:32px; margin-bottom:60px;}
.card_list li .ico { display:block; width:139px; height:138px; }
.card_list li.i1 .ico { position:absolute; left:30px; top:50%; background:url(../img/card_img_1.png) no-repeat left top; transform:translate(0,-50%); }
.card_list li.i2 .ico { position:absolute; left:30px; top:50%; background:url(../img/card_img_2.png) no-repeat left top; transform:translate(0,-50%); }
.card_list li.i3 .ico { position:absolute; left:30px; top:50%; background:url(../img/card_img_3.png) no-repeat left top; transform:translate(0,-50%); }
.card_list li.i4 .ico { position:absolute; left:30px; top:50%; background:url(../img/card_img_4.png) no-repeat left top; transform:translate(0,-50%); }
.card_list li.i5 .ico { position:absolute; left:30px; top:50%; background:url(../img/card_img_5.png) no-repeat left top; transform:translate(0,-50%); }
.card_list li.i4, .card_list li.i5 { padding-top:59px; padding-bottom:70px; }
.card_list li .arr { display:block; width:48px; height:27px; position:absolute; left:50%; bottom:-47px; background:url(../img/ico_card_arr.png) no-repeat left top; transform:translate(-50%,0); }
.card_list li.i5 .arr { display:none; }

.card_tb { width:100%; }
.card_tb th { border:2px solid #7cb732; font-size:28px; color:#fff; padding:16px 30px 18px; line-height:1.2em; }
.card_tb td { border:2px solid #cfcfcf; font-size:26px; color:#444; padding:18px 30px 20px; text-align:center; line-height:1.2em;  }
.card_tb td * { font-size:26px; }

.join_tab { overflow:hidden; position:relative; background:#7cb732;}
.join_tab li { position:relative; }
.join_tab li { float:left; width:236px; padding:10px 35px; box-sizing: border-box; display:block; background: url(../img/step_img.png) no-repeat right top; color:#999; font-size:30px; }
.join_tab li.l1 { z-index:4; width:216px; }
.join_tab li.l2 { z-index:3; left:-80px; padding:10px 0 10px 85px; width:256px; }
.join_tab li.l3 { z-index:2; left:-130px; padding:10px 0 10px 55px; }
.join_tab li.l4 { position:absolute; padding:10px 0 10px 45px; right:-50px; top:0; z-index:1; }
.join_tab li.active { background: url(../img/step_img_on.png) no-repeat right top; color:#fff; }

.agree_list { border-top:2px solid #ddd; }
.agree_list li { border-bottom:2px solid #ddd; position:relative; }
.agree_list li p { color:#333; font-size:30px; padding:22px 30px 24px; }
.agree_list li p span { display:inline-block; position:absolute; right:30px; top:26px; font-size:22px; padding-right:40px; height:36px; background:url(../img/ico_view_detail.png) no-repeat right top; }
.agree_list li p.active span { background:url(../img/ico_view_detail_on.png) no-repeat right top;  }
.agree_list li div { display:none; max-height:400px; border-top:2px solid #ddd; background:#fafafa; padding:30px; font-size:22px; color:#666; }
.agree_list li div * { font-size:22px; }
.agree_list li div p { padding:10px 30px 10px; }

.ipin_box { margin:0 30px; border:2px solid #ddd; background:#fafafa; padding:50px; }
.ipin_box2 { margin:0 30px; border:2px solid #ddd; background:#fafafa; padding:20px 30px; }
.ipin_box2 .num { background:#7cb732; color:#fff; display:inline-block; padding:0 5px 2px; line-height:1.2em; }

.join_write_wrap .jw { width:100%; margin-bottom:30px; }
.join_write_wrap .jw p { display:inline-block; }
.join_write_wrap .jw p.t { width:180px; font-size:30px; color:#787878; vertical-align:top; padding-top:6px;}
.join_write_wrap .jw p.t2 { padding-top:0; line-height:1.2em;}
.join_write_wrap .jw p.s { width:149px; font-size:24px; color:#61961d; vertical-align:top; padding-top:12px; padding-left:20px; }
.join_write_wrap .jw p.i { display:inline-block; position:relative; overflow:hidden; }
.join_write_wrap .jw p.i * { float:left; }
.join_write_wrap .jw p.i span {  font-size:30px; color:#444; padding:5px 5px 0; vertical-align:top; }

.join_success { border:2px dotted #7cb732; margin:0 30px; padding:100px 0; border-radius:10px; margin-bottom:50px;}
.join_success p {  font-size:40px; color:#61961d; }

.agrees { font-size:24px; width:100%; color:#666; text-align:left; }

.down_btn { position:absolute; right:30px; top:13px; background:#7cb732; font-size:26px; color:#fff !important; padding:10px 20px; line-height:1.2em; }
.down_btn span { background:url(../img/ico_down.png) no-repeat left top; width:24px; height:24px; display:inline-block; vertical-align:top; margin-top:5px; }

.bor_box { border:2px solid #7cb732; padding:30px; }
.bor_box p {color:#333; font-size:32px; text-align:center; line-height:1.4em; 
overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; /* 라인수 */ -webkit-box-orient: vertical; word-wrap:break-word;}


.contents_tb { width:100%; }
.contents_tb th { background:#7db733; font-size:26px; color:#fff; padding:10px 7px 10px; line-height:1.2em; }
.contents_tb td { border-bottom:1px solid #aaa; font-size:24px; color:#666; padding:8px 7px 8px; text-align:center; line-height:1.2em;  }
.contents_tb td.top { background:#e8f5d7; color:#333; }
.contents_tb td.top p { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; word-wrap:break-word;  width:640px; }
.contents_tb td p.w { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; word-wrap:break-word;  max-width:340px; color:#1e6918; }
.contents_tb td .bt_s { display:block; padding:3px 0; text-align:center; color:#fff; background:#1e6918; font-size:22px; }
.contents_tb td .bt_p { display:block; padding:3px 0; text-align:center; color:#fff; background:#ff675f; font-size:22px; }

/* swiper */
.swiper-container-horizontal > .swiper-pagination-bullets { bottom:0; }
.swiper-pagination-bullet-active { background: #7865ff; }

.main_visual.swiper-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}



.main_visual.swiper-container-horizontal > .swiper-pagination-bullets { position:absolute; left:50%; bottom:14px; transform:translate(-50%,0); text-align: left; width:auto; display:inline-block; }
.main_visual .swiper-pagination-bullet { width:24px; height:25px; background:url(../img/ico_ban.png) no-repeat left top; border-radius:0; opacity:1; }
.main_visual .swiper-pagination-bullet-active { width:68px; height:25px; background:url(../img/ico_ban_on.png) no-repeat left top; border-radius:0; opacity:1; }


.process_visual.swiper-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}



.process_visual.swiper-container-horizontal > .swiper-pagination-bullets { position:absolute; left:30px; bottom:20px; text-align: left; width:auto; display:inline-block; }
.process_visual .swiper-pagination-bullet { width:24px; height:24px; border-radius:24px; opacity:0.5; background:#7cb732; }
.process_visual .swiper-pagination-bullet-active { width:68px; height:25px; opacity:1; }


.swiper-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.swiper-slide {
    background-size: cover;
    background-position: center;
}

.relative { position:relative; }

.overflow { overflow:hidden; }
.fleft { float:left !important; }
.fright { float:right !important; }
.ico_img img { width:3rem; }

.wid5 { width:5% !important; }
.wid10 { width:10% !important; }
.wid15 { width:15% !important; }
.wid20 { width:20% !important; }
.wid25 { width:25% !important; }
.wid30 { width:30% !important; }
.wid32 { width:32% !important; }
.wid33 { width:33% !important; }
.wid35 { width:35% !important; }
.wid40 { width:40% !important; }
.wid45 { width:45% !important; }
.wid48 { width:48% !important; }
.wid49 { width:49% !important; }
.wid50 { width:50% !important; }
.wid55 { width:55% !important; }
.wid58 { width:58% !important; }
.wid60 { width:60% !important; }
.wid70 { width:70% !important; }
.wid75 { width:75% !important; }
.wid80 { width:80% !important; }
.wid90 { width:90% !important; }
.wid100 { width:100% !important; }

.wid115px { width:115px !important; }
.wid117px { width:117px !important; }
.wid120px { width:120px !important; }
.wid155px { width:155px !important; }
.wid164px { width:164px !important; }
.wid200px { width:200px !important; }
.wid217px { width:217px !important; }
.wid235px { width:235px !important; }
.wid282px { width:282px !important; }
.wid320px { width:320px !important; }
.wid474px { width:474px !important; }


.mg0 { margin:0 !important; }

.mt10 { margin-top:10px !important; }
.mt20 { margin-top:20px !important; }
.mt30 { margin-top:30px !important; }
.mt50 { margin-top:50px !important; }

.mb0 { margin-bottom:0 !important; }
.mb10 { margin-bottom:10px !important; }
.mb15 { margin-bottom:15px !important; }
.mb20 { margin-bottom:20px !important; }
.mb30 { margin-bottom:30px !important; }
.mb50 { margin-bottom:50px !important; }
.mb60 { margin-bottom:60px !important; }

.ml4 { margin-left:4px !important; }
.ml7 { margin-left:7px !important; }
.ml10 { margin-left:10px !important; }
.ml15 { margin-left:15px !important; }
.ml20 { margin-left:20px !important; }
.ml25 { margin-left:25px !important; }
.mL25 { margin-left:25px !important; }
.ml60 { margin-left:60px !important; }

.mr20 { margin-right:20px !important; }
.mr30 { margin-right:30px !important; }
.mr60 { margin-right:60px !important; }

.pt0 { padding-top:0 !important; }
.pt5 { padding-top:5px !important; }
.pt10 { padding-top:10px !important; }
.pt20 { padding-top:20px !important; }
.pt30 { padding-top:30px !important; }
.pt40 { padding-top:40px !important; }
.pt45 { padding-top:45px !important; }
.pt50 { padding-top:50px !important; }

.pb0 { padding-bottom:0 !important; }
.pb10 { padding-bottom:10px !important; }
.pb20 { padding-bottom:20px !important; }
.pb30 { padding-bottom:30px !important; }
.pb50 { padding-bottom:50px !important; }
.pb60 { padding-bottom:60px !important; }
.pb70 { padding-bottom:70px !important; }
.pb100 { padding-bottom:100px !important; }

.pl10 { padding-left:10px !important; }
.pl20 { padding-left:20px !important; }
.pl30 { padding-left:30px !important; }
.pl180 { padding-left:180px !important; }

.pr0 { padding-right:0 !important; }
.pr10 { padding-right:10px !important; }
.pr20 { padding-right:20px !important; }
.pr30 { padding-right:30px !important; }

.col_444 { color:#444 !important; }
.col_666 { color:#666 !important; }
.col_999 { color:#999 !important; }
.col_white { color:#fff !important; }
.col_red { color:#ff4343 !important; }
.col_light_gray { color:#aaa !important; }
.col_light_green { color:#61961d !important; }
.col_green { color:#1e6918 !important; }
.bg_gray { background:#f5f5f5 !important; }
.bg_dark_gray { background:#aaa !important; }
.bg_999 { background:#999 !important; border-color:#999 !important; }
.bg_1e6918 { background:#1e6918 !important; border-color:#1e6918 !important;}
.bg_e5f1d6 { background:#e5f1d6 !important;}
.bg_fafafa { background:#fafafa !important;}
.bg_333 { background:#333 !important;}

.bg_red { background:#ff675f !important; }
.bg_yellow { background:#dea717 !important; }

.bg_green { background:#7cb732 !important; }
.bg_dark_green { background:#1e6917 !important; }

.bor_btm_green {  border-bottom:2px solid #61961d !important; }

.bb_box { background:#fafafa; border-top:1px solid #ccc; border-bottom:1px solid #ccc; }
.bb_box2 { background:#7cb732; color:#fff; font-size:34px; position:relative; }
.bb_box2 span { position:absolute; right:30px; top:8px; display:inline-block; vertical-align:top; }

.txt_20 { font-size:20px; letter-spacing:-0.04em; }
.txt_22 { font-size:22px; color:#666; letter-spacing:-0.04em; }
.txt_26 { font-size:26px; color:#666; }
.txt_28 { font-size:28px; color:#555; }
.txt_30 { font-size:30px; color:#444; }
.txt_32 { font-size:32px; }
.txt_34 { font-size:34px; }

.bor_green { background:#fff; color:#7cb732; border:1px solid #7cb732; }

.btn_fill { line-height:1.2em; color:#fff; font-size:26px; border:1px solid #7cb732; display:inline-block; padding:8px 0 10px; text-align:center; width:132px; }
.btn_border { line-height:1.2em; border:1px solid #7cb732; font-size:26px; display:inline-block; padding:8px 0 10px; text-align:center; width:132px; }

.btn_arr { font-size:40px; text-align:center; background:#1e6918; width:100%; color:#fff; padding:20px 0 22px; margin-bottom:50px; line-height:1.2em; }
.btn_arr span { background:url(../img/ico_white_arr.png) no-repeat left top; display:inline-block; width:21px; height:37px; margin-left:10px; margin-top:9px; vertical-align:top; }

.btn_arr2 { font-size:32px; text-align:center; background:#1e6918; width:100%; color:#fff; padding:16px 0 18px; margin:0 auto; line-height:1.2em; }
.btn_arr2 span { background:url(../img/ico_white_arr.png) no-repeat left top; background-size:100%; display:inline-block; width:15px; height:37px; margin-left:10px; margin-top:8px; vertical-align:top; }


.fixed_area { position:fixed; left:0; bottom:0; width:100%; z-index:2; }

.green_input { border:2px solid #85bb40; color:#85bb40; height:66px; line-height:66px; font-size:32px; text-indent:30px; font-family:'NotoSansKRlight'; }
.green_input::placeholder { color:#aaa; }

.input { border:2px solid #ccc; color:#444; height:60px; line-height:60px; font-size:30px; text-indent:30px; font-family:'NotoSansKRlight';}
.input::placeholder { color:#aaa; }

.select { border:2px solid #ccc; color:#444; height:60px; line-height:60px; font-size:30px; vertical-align:top; font-family:'NotoSansKRlight'; }

input[type=checkbox].check { width:30px; height:30px; }
label.la { font-size:24px; color:#666; }
label.la2 { font-size:24px; color:#666; line-height:1.2em; display:inline-block; vertical-align:top; margin-top:12px; }

.form_btn { border:2px solid #ccc; background:#f5f5f5; color:#888; height:60px; line-height:1.2em; font-size:30px; }


/* input[type=radio].chk {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: none;
}

input[type=radio].chk + label.la {
    padding-left: 2rem;
    min-height:1.3rem;
    color:#222;
    display: inline-block;
    background: url(../img/select.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size:1.5rem;
    vertical-align: middle;
    cursor: pointer;
    padding-top: 0.2rem;
    background-position:left center;
}

input[type=radio].chk:checked + label.la {
    background: url(../img/select_on.png);
    background-repeat: no-repeat;
    background-size:1.5rem;
    background-position:left center;
}

input[type=checkbox].chk {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: none;
}

input[type=checkbox].chk + label.la {
    padding-left: 2rem;
    height:1.3rem;
    color:#222;
    display: inline-block;
    background: url(../img/select.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size:1.5rem;
    vertical-align: middle;
    cursor: pointer;
    padding-top: 0.2rem;
}

input[type=checkbox].chk:checked + label.la {
    background: url(../img/select_on.png);
    background-repeat: no-repeat;
    background-size:1.5rem;
}

input[type=checkbox].chk + label.set {
    padding-left: 2.7rem;
    height:1.7rem;
    color:#222;
    display: inline-block;
    background: url(../img/check_box.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size:3rem;
    vertical-align: middle;
    cursor: pointer;
    padding-top: 0.2rem;
}

input[type=checkbox].chk:checked + label.set {
    background: url(../img/check_box_on.png);
    background-repeat: no-repeat;
    background-size:3rem;
}

input[type=checkbox].chk + label.favorit {
    padding-left: 1.1rem;
    height:1.1rem;
    color:#222;
    display: inline-block;
    background: url(../img/ico_star.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size:1.1rem;
    vertical-align: top;
    cursor: pointer;
}

input[type=checkbox].chk:checked + label.favorit {
    background-position: 0 bottom;
    background-size:1.1rem;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type='number'] {
    -moz-appearance: textfield;
}

label.la.fz08{ font-size:0.8rem !important; padding-top:0.3rem !important; } */



.form_wrap { width:100%; margin:0.5rem 0; position:relative; }
.form_wrap::after { content: ''; display: block; clear: both }
.form_wrap > * { float:left; }
.form_wrap span { display:inline-block; text-align:center; vertical-align:top;	padding-top:1.1rem;}
.form_wrap span.req { padding-top:0.3rem; text-align:left; color:#dc321e; font-size:0.8rem; }
.form_wrap .in_close { position:absolute;
    right: 0.5rem;
    top: 0.9rem;
    background: url(../img/ico_delete.png) no-repeat center top;
    background-size: 1.2rem;
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;}
.form_wrap input:not(:valid) ~ .in_close {
    display: none;
}
.form_wrap .search { position:absolute;
    right: 0.9rem;
    top: 0.9rem;
    background: url(../img/ico_product_search.png) no-repeat center top;
    background-size: 100%;
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;}
/* input.input { border:1px solid #e1e1e1; box-sizing: border-box; color:#222; padding:0.95rem 0.3rem 0.9rem; }
input.input::placeholder { color:#999; }
input.input:focus { border:1px solid #7865ff; } */
/* input.search_input { border:1px solid #eee; box-sizing: border-box; color:#999; font-weight:bold; padding:0.95rem 1rem 0.95rem; border-radius:2rem; background:#eee; }
input.search_input:focus { border:1px solid #7865ff; background:#fff; color:#222; }
select.select { border:1px solid #e1e1e1; box-sizing: border-box; color:#666; padding:0.90rem 0.3rem 0.95rem;  }
select.select:focus { border:1px solid #7865ff; }
textarea.textarea { width:100%; padding:0.5rem; box-sizing: border-box; border:1px solid #e1e1e1; }
 */
/* popup */
.pop_wrap { box-sizing: border-box; position:fixed; left:50%;top:50%; transform:translate(-50%,-50%); background: #fff;  max-width:540px; width:74%; z-index:9999; display:none; }

.pop_wrap .pop_tit { padding:40px 40px 0; color:#444; font-size:30px; line-height:1.4em; text-align:center; }
.pop_wrap .pop_txt {  padding:40px; color:#444; font-size:30px; line-height:1.4em; text-align:center; }
.pop_wrap .pop_txt_box {  padding:20px 20px; color:#444; font-size:20px; line-height:1.4em; text-align:left; }
.pop_wrap .pop_txt_box p { padding:10px 0; font-size:20px; line-height:1.4em; }
.pop_wrap .ico_img { cursor:pointer; }
.pop_wrap .x_btn { position:absolute; right:1rem; top:1.3rem; }
.pop_wrap .x_btn a { display:block; width:1.2rem; height:1.2rem; background:url(../img/pop_close.png) no-repeat left top; background-size:100%; }

.pop_full { max-width:720px; position:fixed; left:50%; top:0; height:100%; width:720px; margin:0 auto; border-radius:0; transform:translate(-50%,0); overflow:hidden; overflow-y:auto; }
.pop_full .left_clo { position:absolute; left:30px;top:30px; }
.pop_full .right_clo { position:absolute; right:30px; top:30px; }

.black_bg { position:fixed; background: #3f3f3f; left:0; top:0; z-index:999; display:none; }
.ly_pop_bg { position:fixed; background: #000; opacity: 0.5; filter: alpha(opacity=50); left:0; top:0; z-index:999; display:none; }

.all_menu { position:relative;  }
.all_menu a.jQBtn { display:block; font-size:30px; color:#333; padding:20px 60px 22px; border-bottom:2px solid #ddd; position:relative; }
.all_menu .arr { background:url(../img/ico_more.png) no-repeat left top; background-size:100%; width:36px; height:36px; display:block; position:absolute; right:60px; top:50%; transform:translate(0,-50%);}
.all_menu .arr.active { background:url(../img/ico_more_on.png) no-repeat left top; background-size:100%; width:36px; height:36px; display:block;}
.all_menu .arr_move { background:url(../img/ico_move_arr.png) no-repeat left top; background-size:100%; width:36px; height:36px; display:block; position:absolute; right:60px; top:50%; transform:translate(0,-50%);}

.sub_menu { display:none; }
.sub_menu li a { display:block; background:#f5f5f5; padding:15px 90px 17px; color:#666; font-size:30px; border-bottom:2px solid #ddd;}

.pop_tit_my { color:#fff; font-size:30px; padding:15px 60px 17px 110px; background:#1e6918 url(../img/ico_my_menu.png) no-repeat 60px 22px; }

.login_user { position:relative; }
.login_user .name { position:absolute; left:0; top:4px; font-size:32px; color:#666; }
.login_user .name span { font-size:28px; color:#787878; }

/* animation */

@-moz-keyframes circleSize {
    from {
        width:0.5rem;
        height:0.5rem;
        opacity: 0.7;
    }

    to {
        width:1rem;
        height:1rem;
        opacity: 0;
    }
}

@-webkit-keyframes circleSize {
    from {
        width:0.5rem;
        height:0.5rem;
        opacity: 0.7;
    }

    to {
        width:1rem;
        height:1rem;
        opacity: 0;
    }
}

@keyframes circleSize {
    from {
        width:0.5rem;
        height:0.5rem;
        opacity: 0.7;
    }

    to {
        width:1rem;
        height:1rem;
        opacity: 0;
    }
}

@-moz-keyframes mtmotion {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes mtmotion {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}

@keyframes mtmotion {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}


@media all and (min-width:1601px) {}
